@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

main {
    width: 100%;
}

main > div {
    margin: 2em 4em;
}

section {
    margin: 2em 4em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section > header {
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    align-items: center;
}